@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans";
    border: 1px solid red; 
    
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

@media  (max-width: 767px) {
    .tabletladyphoto {
        display: none;
    }
}

/* mobile main container */
.mobilemaincontainer {
    height: 2615px;  
    width: 375px;
    /*margin-left: 1958px;
    margin-top: 1808px; */
    border-radius: 0px;
    margin: 0 auto;
    
}

/* container for navbar and lady photo */
.mobileskilleduppertext {
    height: 35px;
    width: 89px;
    margin-left: 16px;
    margin-top: 22px;
    display: inline-block;    
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left; 
    color: #13183F;
}

.mobilegetstartedcontainer {
    display: flex;
    height: 48px;
    width: 140px;
    margin-left: 210px;
    margin-top: -40px;
    border-radius: 28px;
    background: #13183F;
}

.mobilegetstartedtext {
    height: 28px;
    width: 92px;
    margin-left: 24px;
    margin-top: 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.mobilemaximizeskilltext {
    height: 101px;
    width: 343px;
    margin-left: 16px;
    margin-top: 45px;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F;
    
}

.mobileourmoderntext {
    height: 78px;
    width: 343px;
    margin-left: 16px;
    margin-top: 26px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #83869A;
 
}

.mobileredgetstartedcontainer {
    display: flex;
    height: 56px;
    width: 167px;
    margin-left: 16px;
    margin-top: 24px;
    border-radius: 31.5px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);       
}

.mobileredgetstartedtext {
    height: 26px;
    width: 92px;
    margin-left: 38px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.mobileladyphoto {
    height: 301px;
    width: 327px;
    margin-left: -30px;
    margin-top: 46px;
    
}

/* container for all the grid */
.mobilelastlargecontainer {
    height: 1695px;
    width: 373px;
    margin-left: 0px;
    margin-top: 110px;
    border-radius: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

}

.mobilecheckoutcontainer {
    height: 120px;
    width: 343px;
    margin-left: 0px;
    margin-top: 0px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
}

.mobilecheckouttext {
    height: 64px;
    width: 286px;
    margin-left: 28px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.mobileanimationbox {
    position: relative;
    height: 283px;
    width: 343px;
    margin-left: 0px;
    margin-top: 16px;
    
}

.mobileanimationicon {
    position: absolute;
    height: 56px;
    width: 56px;
    margin-left: 28px;
    margin-top: 0px;
    z-index: 1;
}

.mobileanimationboxinside {
    position: absolute;
    height: 259px;
    width: 343px;
    margin-left: 0px;
    margin-top: 24px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    
}

.mobileanimationtext {
    height: 25px;
    width: 101px;
    margin-left: 28px;
    margin-top: 56px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F; 
    
}

.mobilelearnthelasttext {
    height: 78px;
    width: 286px;
    margin-left: 28px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #83869A;
      
}

.mobilelastgetstartedtext {
    display: inline-block;
    height: 28px;
    width: 104px;
    margin-left: 28px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #F74780;
 
}

.design {
    height: 25px;
    width: 68px;
    margin-left: 28px;
    margin-top: 56px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F; 
}

.photography {
    height: 25px;
    width: 129px;
    margin-left: 28px;
    margin-top: 56px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F; 
}

.crypto {
    height: 25px;
    width: 70px;
    margin-left: 28px;
    margin-top: 56px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F; 
}

.business {
    height: 25px;
    width: 87px;
    margin-left: 28px;
    margin-top: 56px;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F; 
    
}

/* footer container */
.mobilefootercontainer {
    height: 120px;
    width: 375px;
    background: #13183F;
    
}

.mobilelastpartskilledtext {
    display: inline-block;
    height: 35px;
    width: 89px;
    margin-left: 16px;
    margin-top: 43px;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;   
    
}

.mobilelastgetstartedcontainer {
    display: flex;
    height: 48px;
    width: 140px;
    margin-left: 219px;
    margin-top: -40px;
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}

.mobilegetstartedtext {
    height: 28px;
    width: 92px;
    margin-left: 24px;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
       
}


/* Tablet View */
@media  (min-width: 1100px) {
    .tabletladyphoto {
        display: none;
    }
}

@media  (min-width: 768px) {
    .mobilemaincontainer {
        height: 1760px;
        width: 768px;
        margin: 0 auto;
        border-radius: 0px; 
    }
    .mobileskilleduppertext {
        margin-left: 39px;
        margin-top: 31px;
    }
    .mobilegetstartedcontainer {
        margin-left: 588px;
        margin-top: -40px;
    }
    .mobilemaximizeskilltext {
        height: 101px;
        width: 326px;
        margin-left: 39px;
        margin-top: 99px;
    }
    .mobileourmoderntext {
        width: 398px;
        margin-left: 39px;
        margin-top: 25px;
    }
    .mobileredgetstartedcontainer {
        margin-left: 36px;
        margin-top: 24px;
    }
    .mobileladyphoto {
    display: none;
    }
    .tabletladyphoto {
        margin-left: 380px;
        margin-top: -550px;
    }
    .mobilelastlargecontainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 999px;
        width: 768px;
        margin-top: 0px;
        padding-left: px;
    }
    .mobilecheckoutcontainer {
        height: 259px;
        width: 339px;
        margin-left: 39px;
        margin-top: 24px;  
    }
    .mobilecheckouttext {
        margin-left: 32px;
        margin-top: 56px;
    }
    .mobilelastlargecontainer > *:first-child {
        height: 259px;
        width: 339px;
        margin-left: 39px;
        margin-top: 24px; 
    }
    .mobilelastlargecontainer > *:nth-child(2) {
        margin-right: 0px;
        width: 340px;
        margin-top: 0px;
    }
    .mobilelastlargecontainer > *:nth-child(3) {
        margin-left: 39px;
        margin-top: -35px; 
    }
    .mobilelastlargecontainer > *:nth-child(4) {
        margin-right: 0px;
        margin-top: -35px; 
    }
    .mobilelastlargecontainer > *:nth-child(5) {
        margin-left: 39px; 
        margin-top: -40px;
    }
    .mobilelastlargecontainer > *:last-child {
        margin-right: 0px; 
        margin-top: -40px;
    }
    .mobilefootercontainer {
        width: 768px;
    }
    .mobilelastpartskilledtext {
        margin-left: 40px;
    }
    .mobilelastgetstartedcontainer {
        margin-top: -40px;
        margin-left: 589px;
    }
}

/* Desktop View */
@media  (min-width:1100px) {
    .mobilemaincontainer {  
        height: 1845px;
        width: 1440px;
        margin: 0 auto;
        border-radius: 0px;
    }
    .mobileskilleduppertext {
        height: 45px;
        width: 114px;
        margin-left: 165px;
        margin-top: 29px;
        font-size: 36px;
        line-height: 45px;
    }
    .mobilegetstartedcontainer {
        height: 56px;
        width: 167px;
        margin-left: 1108px;
        margin-top: -50px;
    }
    .mobilegetstartedtext {
        width: 104px;
        margin-left: 30px;
        margin-top: 12px;
        font-size: 18px;
    }
    
    .mobilemaximizeskilltext {
        height: 143px;
        width: 457px;
        margin-left: 165px;
        margin-top: 178px;
        font-size: 56px;
        line-height: 71px; 
    }
    .mobileourmoderntext {
        height: 84px;
        width: 445px;
        margin-left: 165px;
        margin-top: 29px;
        font-size: 18px;
        line-height: 28px;
    }
    .mobileredgetstartedcontainer {
        height: 56px;
        margin-left: 165px;
        margin-top: 40px;
    }
    .mobileredgetstartedtext {
        height: 28px;
        width: 104px;
        font-size: 18px;
        line-height: 28px;
        margin-left: 32px;
    }
    .desktopladyphoto {
        margin-left: 730px;
        margin-top: -770px;
    }
    .mobilelastlargecontainer {
        margin-top: 50px;
        padding-left: 0px;
        height: 888px;
        width: 1440px;
    }
    .mobilecheckouttext {
        height: 120px;
        width: 286px;
        margin-left: 32px;
        margin-top: 64px;
        font-size: 32px;
        line-height: 40px;  
        
    }
    .mobilelastlargecontainer > *:first-child {
        height: 322px;
        width: 350px;
        margin-left: 165px;
        margin-top: 24px; 
    }
    .mobilelastlargecontainer > *:nth-child(2) {
        height: 346px;
        width: 350px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .mobilelastlargecontainer > *:nth-child(3) {
        height: 346px;
        width: 350px;
        margin-top: 0px;
        margin-left: 30px; 
    }
    .mobilelastlargecontainer > *:nth-child(4) {
        height: 346px;
        width: 350px;
        margin-left: 165px;
        margin-top: 56px;  
    }
    .mobilelastlargecontainer > *:nth-child(5) {
        height: 346px;
        width: 350px;
        margin-left: 30px; 
        margin-top: 56px;
    }
    .mobilelastlargecontainer > *:last-child {
        height: 346px;
        width: 350px;
        margin-left: 30px; 
        margin-top: 56px;
    }
    .mobileanimationboxinside {
        height: 322px;
        width: 348px;
        margin-left: 0px;
        margin-top: 24px;

    }
    .mobileanimationtext {
        height: 30px;
        width: 121px;
        margin-left: 32px;
        margin-top: 64px;
        font-size: 24px;
        line-height: 30px;
        
    }
    .mobilelearnthelasttext {
        height: 112px;
        width: 286px;
        margin-left: 32px;
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        
    }
    .mobilelastgetstartedtext {
        height: 28px;
        width: 104px;
        margin-left: 32px;
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        
    }
    .mobilefootercontainer {
        height: 120px;
        width: 1440px;
        
    }
    .mobilelastpartskilledtext {
        height: 45px;
        width: 114px;
        margin-left: 165px;
        margin-top: 37px;
        font-size: 36px;
        line-height: 45px;
        
    }
    .mobilelastgetstartedcontainer {
        height: 56px;
        width: 167px;
        margin-left: 1130px;
        margin-top: -60px;
        border-radius: 28px;
        
    }
    
    
}